<div class="container">
  <div>
    <label>Coding Challenges</label>
  </div>
  <div>
    <div class="list-group">
      <a class="list-group-item" *ngFor="let problem of (problems | search: searchTerm)"
      [routerLink]="['/problems',	problem.id]">

      <span class="tag is-medium {{'pull-left label difficulty diff-' + problem.difficulty.toLocaleLowerCase()}}">
        {{problem.difficulty}}
      </span>
      <strong class="title">{{problem.id}}.{{problem.name}}</strong>
    </a>
  </div>

  </div>
</div>

<div>
  <app-new-problem></app-new-problem>
</div>
